<nav class="breadcrumbs" aria-label="Breadcrumb">
  <div class="container">
    <ol class="breadcrumb-list">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      
      {% if attraction %}
        {# For attraction detail pages #}
        {% if attraction.state %}
          <li class="breadcrumb-item">
            <a href="/{{ attraction.state | slugify }}-attractions/">{{ attraction.state }} Attractions</a>
          </li>
        {% endif %}
        
        {% if attraction.categories and attraction.categories.length > 0 %}
          <li class="breadcrumb-item">
            {% set firstCategory = attraction.categories[0] %}
            <a href="/{{ firstCategory | slugify }}-attractions/">{{ firstCategory }} Attractions</a>
          </li>
        {% endif %}
        
        <li class="breadcrumb-item current" aria-current="page">
          {{ attraction.name }}
        </li>
      
      {% elseif category %}
        {# For category pages #}
        <li class="breadcrumb-item current" aria-current="page">
          {{ category }} Attractions
        </li>
      
      {% elseif state %}
        {# For state pages #}
        <li class="breadcrumb-item current" aria-current="page">
          {{ state }} Attractions
        </li>
      {% endif %}
    </ol>
  </div>
</nav>